
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}
.menu{
    display:flex;
    align-items: center;
    justify-items: center;
    margin: 1%;
    text-align: center;
   
}
.icon{
   width: 20%;
   height: 20%;
 }
.icone-menu{
   line-height: 0;
   font-size: 20px;
   font-family: 'Mukta', sans-serif;
   font-weight: bold;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.entrar{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 30%;
}

button{
    background-color: rgb(185, 62, 62);
    border: none;
    border-radius: 100px;
    color: white;
    display: flex;
    padding: 20px;
    width: 200px;
    height: 55px;
    justify-content: center;
    font-size: 15px;
    margin: 20px;
}

.principal{
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.principal video{ 
   top: 0;
   left: 0;
   position:static;
   object-fit: cover;
   height: 50vh;
   width: 100vw;
}

.principal .conteudo{ 
   margin-bottom: -2%;
   bottom:-10%;   
   position:absolute;
   align-self: center;
   height: 100vh;
}

.principal p{
   margin-top:5% ;
   font-size: 50px;
   color: white;
   font-weight: bolder;
   padding-top: 0;
   text-align: center;
   font-family: 'Mukta', sans-serif;
   line-height: 0%;
} 
.icone-pag2{
  padding: 0;
width:90%

}

.pagina-dois #part1{
   display: grid;
   grid-template-columns: 30% 100% 100%;
   height: 50vh;
   width: 100vh;
   max-width: 95vh;
   margin-top: 5%;
   margin-left: 2%;
   margin-right: 2%;
   padding: 8px;
   align-items: center;
   font-family: 'Mukta', sans-serif;
   font-size: 30px;
}

.pagina-dois #part2{
   display: grid;
   grid-template-columns: 90% 100% 30%;
   height: 50vh;
   width: 90vh;
   max-width: 90vh;
   align-items: center;
   justify-items:left ;
   font-family: 'Mukta', sans-serif;
   font-size: 30px;
}

#moveis{
   width: 80%;
}
#logistica{
   width: 80%;
   
}
  
.imagens{
   width: 50vw;
   display: flex;
   align-items: center;
   height: 100vh;
}
  
.textos{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
      
}
  
.botao2{
   width: 200px;
   background-color: white;
   color: black;
   border: none;
   border-radius: 100px;
   display: flex;
   padding: 20px;
   width: 200px;
   justify-content: center;
   font-size: 16px;
   font-family: 'Mukta', sans-serif;
   margin: 25px;
   
}
      
.pagina-tres{
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: 50vh;
   background: rgb(185, 62, 62);
   margin-top: 30% ;
}
  



