
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

.menu{
   /*Grid para alinhar os itens do cabeçalho*/
   display:grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   justify-items: flex-start;
   align-items: flex-start;
   text-align: center; 
}

.icon{
   /*diminuição dos ícones que estão em 500x500*/
   width: 20%;
   height: 20%;
 }
.icone-menu{
   /*div para manter a legenda logo abaixo do ícone*/
   line-height: 0;
   font-size: 20px;
   font-family: 'Mukta', sans-serif;
   font-weight: bold;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
#btn-entrar{
   /*estética e alinhamento separado do botão entrar,
   como ele é maior que os ícones deve ser alinhado separado */
    background-color: rgb(185, 62, 62);
    border: none;
    border-radius: 100px;
    color: white;
    display: flex;
    padding: 20px;
    width: 200px;
    height: 55px;
    justify-content: center;
    font-size: 15px;
    margin: 20px;
}
.principal{
   /*alinhamento do logo da empresa com o 
   vídeo que serve de background*/
   display: flex;
   flex-direction: column;
   justify-content: center;
}
/*.principal vídeo e logo servem para permanecer o logo alinhado
com o bg após a diminuição do display que está exibindo a página*/
.principal video{
   top: 0;
   left: 0;
   position:static;
   object-fit: cover;
   height: 75vh;
   width: 100vw;
}

.principal .conteudo{ 
   display: flex;
   position:absolute;
   align-self: center;
   height: 50vh;
}

.descricao{
   /*Grid para manter o alinhamento da descrição da empresa*/
   display:grid;
   grid-template-columns: 1fr 6fr 1fr;
   align-items: center;
   justify-items: center;
   font-family: 'Mukta', sans-serif;
   font-size: 30px;
}

.icone-pag2{
   /* ajuste no tamanho dos icones da descrição da empresa*/
   width:7vw;
}
#moveis{
   /*Ajuste do tamnanho da foto referente a loja de moveis*/
   width: 50vw;
   padding: 30px;
}

#logistica{
   /*Ajuste do tamanho da foto referente ao ramo de logistica*/
   width: 30vw;
   padding: 30px;

}
#icone-descricao{
   /*alinhamento da segunda parte da descrição da empresa
   precisou ser feito separado por conta da disposição das imagem*/
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#btn-cliente{
   background-color: rgb(185, 62, 62);
    border: none;
    border-radius: 100px;
    color: white;
    padding: 20px;
    width: 200px;
    height: 55px;
    font-size: 15px;
    margin: 20px;
}
.pagina-tres{
   /*grid criado para que asection fique alinhada qundo diminuido
   o tamanho do dsplay que apresenta o site*/
   background-color: rgb(185, 62, 62);
   color: white;
   font-family: 'Mukta', sans-serif;
   height: 50vh;
   width: 100vw;
   display: grid;
   grid-template-columns: 1fr;
   align-items: center;
   justify-items: center;
 display: flex;
   flex-direction: column;
   justify-content: center;
}
#textos{
   /*div que alinha os textos da terceira parte nas posições desejadas*/
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 30px;
   padding: 30px;
}

#botao2{
   background-color: white;
   color: black;
   border: none;
   border-radius: 100px;
   display: flex;
   padding: 20px;
   width: 200px;
   justify-content: center;
   font-size: 19px;
   font-family: 'Mukta', sans-serif;
   margin: 20px;
}

/* Footer */

.footer {
   background: gray;
   color: #fff;
 }
 
 .footer-container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 60px 20px;
 
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 .footer-info {
   display: flex;
   align-items: center;
   gap: 30px;
 }
 
 .footer-info img {
   max-width: 45px;
   height: 45px;
   object-fit: contain;
 }
 
 .social-link {
   display: flex;
   align-items: center;
   gap: 15px;
 }
 
 .icone {
   display: block;
   transition: all 0.2s;
 }
 
 .icone svg {
   width: 20px;
   height: 20px;
 }
 
 .icone svg path {
   fill: #fff;
 }
 
 .icone:hover svg path {
   fill: rgb(185, 62, 62);
 }
 
 @media (max-width: 600px) {
   .footer-container {
     flex-direction: column;
     align-items: flex-start;
   }
 
   .social-link {
     margin-top: 40px;
   }
 }
